*.class
/**/log/**/*.txt
/**/error/**/*.txt
/target/
target/
*/target/*
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.gitlab-ci.yml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
/mwg.wb.webapi/src/main/resources/bootstrap.properties
/mwg.wb.pkg.price/soapxml
/webapist15.config
/webapi30.config
/webapi31.config
/webapi32.config
/webapi56.config
/webapi30.config
/webapi31.config
/webapi32.config
/webapi56.config
/webapibeta123.config
/mwg.wb.pkg.news/target
/mwg.wb.injection/config.json
/.metadata/
/webservice54.config
/webservice54.config
/webservice54.config
/mwg.wb.pkg.promotion/target
/APIMonitor
/mwg.wb.webapi2
/mwg.wb.pkg.promotion/src/main/java/mwg/wb/pkg/promotion/App.java
/mwg.wb.injection/log/225535.txt
/mwg.wb.injection/log/inject/2020-12-17/logmsg-pm_product.txt
/mwg.wb.injection/log/inject/2020-12-17/logmsg-product.txt
/mwg.wb.injection/log/inject/2020-12-17/logmsg-product_language.txt
